.person-qr-scanner {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;

  &__navbar {
    padding: 1em;
  }

  &__scanner-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8em;
  }
}
