<div
  class="people-csv-importer"
  *ngIf="{
    selectedFile: selectedFile$ | async,
    isSubmitting: isSubmitting$ | async
  } as vm"
>
  <input
    class="people-csv-importer__file-input"
    type="file"
    accept="text/csv"
    [multiple]="false"
    [disabled]="vm.isSubmitting"
    (change)="onChangeFile($event)"
  />
  <br />
  <div class="people-csv-importer__button-container">
    <button
      mat-stroked-button
      type="button"
      class="people-csv-importer__button"
      (click)="onUploadFile()"
      [disabled]="!vm.selectedFile || vm.isSubmitting"
    >
      Upload!
    </button>
  </div>
</div>
